{namespace Bug}

/**
 * This renders the component's whole content.
 *
 * @param show
 */
{template .render}
	<div class="bug">
		<div><a href="javascript:;" onClick="onClick_">Show Two</a></div>

		{call ComponentOne.render /}

		{call ComponentTwo.render}
			{param show: $show /}
		{/call}
	</div>
{/template}